@import "tailwindcss";

body {
  @apply m-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  background-color: var(--color-grays-000);
  color: var(--color-grays-500);
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.0125em;
}

body h1 {
  color: var(--color-brand-2-900);

  font-size: 2em;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.0125em;
}

body h2 {
  color: var(--color-brand-2-900);

  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.0125em;
}

body h3 {
  color: var(--color-brand-2-900);

  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.0125em;
}

body h3:not(:first-of-type) {
  margin-top: 1.5em;
}

body h3:not(:last-child) {
  margin-bottom: 1.33333em;
}

body h4 {
  color: var(--color-grays-500);

  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.0125em;
}

@media (min-width: 800px) {
  body h1 {
    font-size: 3em;
  }

  body h2 {
    font-size: 2.25em;
  }

  body h3 {
    font-size: 1.75em;
  }

  body h4 {
    font-size: 1.25em;
  }
}

p:not(:first-of-type) {
  margin-top: 1em;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

body a {
  color: var(--color-semantic-info);
  cursor: pointer;
  text-decoration: underline;
}

strong {
  font-weight: 700;
}
